# Welcome to your first In-Class Activity (ICA)!

# Debugging practice

In [4]:
def squareMyNumber(n):
    square = n*n

# square your number
squared = squareMyNumber(6)

# add 5 to your squared number
x = squared + 5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [5]:
myVariableNameIsSuperShortAndEasyToRead = "lol jk"

for letter in myVaraibleNameIsSuperShortAndEasyToRead:
    if letter == "l":
        print("It's an l!!!")

NameError: name 'myVaraibleNameIsSuperShortAndEasyToRead' is not defined

In [8]:
my_data_frame = "https://github.com/katherinehansen2/CPSC392Hansen/blob/main/data/penguins.csv"

d = pd.DataFrame(my_data_frame)

d.head()

# hint, look at line 1,

ValueError: DataFrame constructor not properly called!

In [10]:
letters = ["A", "B", "C", "D", "F"]

print("Your grade options are: ")
for letter in letters
    print(letter)

SyntaxError: expected ':' (<ipython-input-10-2a465e39c335>, line 4)

# Python Lecture Review

Import necessary packages

Go to the course GitHub page, find the iris.csv file, and load it into a dataframe

Print out the first 10 rows of your df

Print out all of the column names

Loop through all of the column names

Grab the 10th row of your df

Find the average sepal width by species

Find the rows who have a petal length > 1.4

Find the rows that have a petal width > 2. Store them in a df named wide_petals

Find the mean sepal length for all rows

Generate 10 random numbers between 1 and 10 (using numpy)

Set a random seed. Then, generate 3 random numbers between 4 and 17. Run that code 3 times and ensure the numbers don't change.