# All the stuff you need to know - Python edition

## Getting familiar with Colab
This is a Google Colab notebook - an online, shareable Jupyter notebook where you can write + run Python code and write plain text.

Colab notebooks can be shared & worked on by multiple people BUT
* Only one person can save changes at a time
* Other users must refresh their page to get new updates

In [ ]:
# write a hello world program

You can run a cell by pressing the play button, or by using ctrl+enter (Windows) or cmd+return (Mac)

In [7]:
# goodnight world

print("Goodnight, world.")

Goodnight, world.

Notice that you can see the output from both snippets at the same time.

In colab, if the last line of code in your code snippet is an object, it will automatically print out the value.

In [1]:
x = 25
x

10

## Pandas

In [1]:
import numpy as np
import pandas as pd

### Creating a DataFrame

In [4]:
names = ["Alice", "Bob", "Charlotte"]
ages = [21, 21, 18]
majors = ["Computer Science", "Psychology", "Business"]


# Method 1 - with dictionary

In [8]:
# Method 2 - with lists

info = [["Alice", 21, "Computer Science"], ["Bob", 21, "Psychology"], ["Charlotte", 18, "Business"]]

In [ ]:
# Method 3 - upload from your computer (can't do on colab)
path = "/Users/katherinehansen/Chapman/Fall2024/CPSC392/GitHubRepo/CPSC392Hansen/data/penguins.csv"

df3 = pd.read_csv(path)
df3

On GitHub, navigate to the csv you'd like to read, click "raw", and then copy the URL

In [1]:
# Method 4 - from a URL
urlDF = "https://raw.githubusercontent.com/katherinehansen2/CPSC392Hansen/main/data/penguins.csv"

df4 =

df4.head()

In [ ]:
# Method 5 - upload to Google Colab

### Exploring data

In [ ]:
# How many rows and columns does the DF have?

In [ ]:
# Column names in DF

In [ ]:
# What do your columns look like? .info(), .describe()

In [ ]:
# .head()

### groupby()

In [13]:
# use groupby() to find the avg body mass (body_mass_g) and avg bill length (bill_length_mm) by species

### index

In [ ]:
# index - row numbers starting at 0

In [16]:
# looping through columns of df



# loop through indices of df



# loop through data at a given index

In [18]:
# iterrows


for i, r in df4.iterrows():
  print(i, r)

### Dropping missing data

In [ ]:
# Check for missing values

In [ ]:
# Remove rows with missing values



# inplace

In [ ]:
# reset indices after removing missing values - reset_index()

### Dummy Variables

In [3]:
# generate data

col1 = np.random.choice(["A", "B", "C"], 100)
col2 = np.random.uniform(0, 100, 100).round(0)

df = pd.DataFrame({"group":col1, "score": col2})

df.head()

In [ ]:
# pd.get_dummies()

### Subsetting data

In [ ]:
# by column name

In [ ]:
# find mean bill length of all penguins

In [ ]:
# rows, by index (iloc), as a series

In [ ]:
# rows, by index (iloc), as a df

In [ ]:
# grab range of rows by indices

In [ ]:
# iloc grabbing specific rows AND columns

In [ ]:
# by condition

# Find all of the Adelie penguins

In [4]:
# bill lengths > 39

In [5]:
# bill lengths > 39 AND bill depth < 18

In [ ]:
# .loc[] with strings

In [34]:
# by column type - df.select_dtypes(include = )

num = ["int16", "int32", "int64", "float16", "float32", "float64"]

In [ ]:
# grab columns by name

#### Add a column

In [ ]:
# bill ratio

df4["bill_ratio"] =

## Numpy

In [35]:
# np.array vs list

x_array = np.array([1, 2, 3, 4, 5, 6])
x_list = [1, 2, 3, 4, 5, 6]

In [ ]:
# indexing - same

In [ ]:
# multiplication

In [6]:
# addition

# add the number 5 to each element in x_list


# now, add 5 to each element in x_array

### Calculate distance
$$
d = \sqrt{\sum_{i=1}^{n} (p_i - q_i)^2}
$$

In [38]:
p = np.array([1, 2, 3, 4, 5, 6])
q = np.array([10, 9, 8, 4, 2, 2])

In [49]:
# get difference between p and q

In [48]:
# square those differences

In [51]:
# take the sum

In [54]:
# take the square root

In [55]:
# in reality, use the easier way - np.linalg.norm

### Random numbers

In [ ]:
# normal distribution, loc, scale, size

In [ ]:
# uniform distribution, low, high, size

In [58]:
# choice

names = ["Jim", "Mike", "Rose", "Peter", "Polly"]

In [57]:
# choice with replacement
letters = ["A", "B", "C", "D", "F"]

In [ ]:
# seed